.grow-together {
  display: flex;
  justify-content: space-between;
  background-color: #f6fbff;

  @include for-phone-only {
    flex-direction: column;
    padding: 50px 5px 50px 5px;
  }

  .text-grow-together {
    order: 1;
    align-self: center;
    margin-left: 90px;
    padding-right: 30px;

    @include for-phone-only {
      order: 2;
      text-align: center;
      margin: 20px 0;
      padding: 0;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 20px;
      @include for-phone-only {
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 0.9em;
      max-width: 550px;
      line-height: 1.4;
      padding-right: 30px;
      @include for-phone-only {
        width: 90%;
        padding-right: 0px;
        margin: 20px auto 0;
        font-size: 1.3em;
      }
    }
  }

  .image-grow-together {
    width: 550px;
    height: 400px;
    background-image: url(./images/illustration-grow-together.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 80px;
    order: 2;

    @include for-phone-only {
      order: 1;
      width: 90%;
      height: 300px;
      margin: 20px auto 50px auto;
    }
  }
}
