.your-users {
  display: flex;
  position: relative;
  background-color: #f6fbff;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;

  @include for-phone-only {
    flex-direction: column;
  }

  .image-users {
    width: 550px;
    height: 380px;
    background-image: url(./images/illustration-your-users.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    order: 2;
    margin-right: 80px;

    @include for-phone-only {
      order: 1;
      width: 90%;
      height: 350px;
      margin: 0 auto 20px auto;
    }
  }

  .text-your-users {
    align-self: center;
    order: 1;
    margin-left: 90px;
    padding-right: 30px;
    @include for-phone-only {
      order: 2;
      margin: 20px 0;
      text-align: center;
      padding: 0;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 20px;

      @include for-phone-only {
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 0.9em;
      max-width: 550px;
      line-height: 1.4;
      @include for-phone-only {
        width: 90%;
        font-size: 1.3em;
        margin: 20px auto;
      }
    }
  }
}
